body {
  margin: 0;
  width: 1000px;
}

.container {
  
}

nav#panel {
  margin: 0 auto;
  width: 38%
}

#panel ul {
  display: inline;
}

#panel ul li {
  display: inline;
  list-style-type: none;
  border: 1px solid black;
  padding: .7em;
  font-family: Tahoma;
  font-size: 8pt;
  margin: 2em 2px;
}

.main-nav ul {
  margin: 20px;
}

#panel a {
  color: white;
  text-decoration: none;
}

header {
  border: 1px solid black;
  margin: 0;
  padding: .5em;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  overflow: scroll;
}

#panel li:hover,
.main-nav li:hover {
  background-color: #1e5799;
}

footer {
  clear: both;
  height: 3em;
  background-color: #1E5799;
  text-align: center;
  font-family: Arial;
  font-size: 8pt;
  color: white;
}

#map-canvas {
  border: 1px solid black;
  height: 400px;
  width: 80%;
}
section#map-canvas {
  margin: 1px auto;
}

#findMenu {
  border: 1px solid black;
  width: 250px;
  height: 200px;
  position: absolute;
  top: 60px;
  left: 40px;
  border-radius: 5px;
  visibility: hidden;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

#sellMenu {
  border: 1px solid black;
  padding-top: 1.7em;
  width: 350px;
  height: 200px;
  position: absolute;
  left: 300px;
  top: 100px;
  border-radius: 5px;
  visibility: hidden;
  box-shadow: 1px 1px 2px black;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

#search {
  margin: 5px 10px;
}

div#findMenu label {
  font-family: Verdana;
  font-size: 8pt;
  margin-left: 5px;
  color: white;
}

div#sellMenu label {
  font-family: Verdana;
  font-size: 8pt;
  margin-left: 3em;
  color: white;
}

input#sellAddress {
  margin-left: 4.1em;
}

input#spacenumber {
  margin-left: 2.3em;
}

input#sellprice {
  margin-left: 5.2em;
}

input#sellDuration {
  margin-left: 1.85em;
}

button#closeSellMenu {
  margin: 2em 5em;
}




